<footer class="bg-body-tertiary text-center text-lg-start mt-auto">
  <!-- Grid container -->
  <div class="container p-2">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12  ">
        <h5 class="text-uppercase">
          <span class="text-primary">💕</span> About Us
          <span class="text-primary">💕</span>
        </h5>
        <p>
          This menu is more than just a collection of her favorite dishes; it’s
          a reflection of my endless love and care for her. Each dish holds our
          memories and stories, and I hope it brings warmth and happiness to you
          as well.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 ">
        <h5 class="text-uppercase">
          <span class="text-success">🌿</span> Making Every Meal a Special
          Memory <span class="text-success">🌿</span>
        </h5>

        <p>
          Thank you for visiting and sharing in these beautiful moments of our
          lives. If these dishes have touched your heart, try them out and
          experience the love and affection behind every bite.
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center " style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright:
    <a class="text-body" href="https://yiwang.run/">
     <b>Develop by </b>Yi Wang
      <svg width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path style="color:red" d="M8 15s7-4.35 7-9.45C15 2.36 12.64 0 10 0 8.91 0 8 1 8 1S7.09 0 6 0C3.36 0 1 2.36 1 5.55c0 5.1 7 9.45 7 9.45z"/>
      </svg>
      <b>Design by </b>Sinu
    </a>
    
  </div>
  <!-- Copyright -->
</footer>
