body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .video-background-content {
    position: relative;
    z-index: 2;
  }

  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
  .card {
    transition: transform 0.2s;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .cover-container {
    max-width: 60vw;
  }
  
  .nav-link {
      padding: 0.25rem 0;
      font-weight: 700;
      color: rgba(255,255,255,0.5);
      margin-left: 1rem;
      border-bottom: 0.25rem solid transparent;
  }
  
  .nav-link:hover{
      color: rgba(255,255,255,0.5);
      border-bottom-color:rgba(255,255,255,0.5);
  }
  
  .nav-link.active {
      color: white;
      border-bottom-color:white;
  
  }
  
  .btn-secondary, .btn-secondary:hover{
      color: #333;
      text-shadow: none;
  }



  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
  }
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem; /* 较小屏幕字体 */
    }
    .hero p {
      font-size: 1rem; /* 较小屏幕字体 */
    }
  }